<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestSuite" parallel="classes" thread-count="3">
    <test name="TestFunctionalityOnUser">
        <classes>
            <class name="tests.AddCustomerTest"/>
            <class name="tests.SortedCustomerTest"/>
            <class name="tests.DeleteCustomerTest"/>
        </classes>
    </test>
</suite>